<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="assem_ros2_control" params="name prefix use_sim:=false">
    <ros2_control name="${name}" type="system">
      <xacro:if value="${use_sim}">
        <!-- Simulation -->
        <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>
      </xacro:if>

      <xacro:unless value="${use_sim}">
        <!-- Real robot hardware -->
        <hardware>
          <plugin>naiscorp_hardware_interface/NaiscorpRobotHardware</plugin>
          <param name="left_wheel_name">${prefix}wheel_left_joint</param>
          <param name="right_wheel_name">${prefix}wheel_right_joint</param>
          <param name="loop_rate">200.0</param>
          <param name="device">/dev/ttyUSB0</param>
          <param name="baud_rate">115200</param>
          <param name="timeout_ms">1</param>
          <param name="wheel_diameter">65</param>
          <param name="pid_p">5</param>
          <param name="pid_i">2</param>
          <param name="pid_d">0</param>
        </hardware>
      </xacro:unless>
      
      <!-- Left wheel joint -->
      <joint name="${prefix}wheel_left_joint">
        <command_interface name="velocity">
          <param name="min">-0.8671</param>
          <param name="max">0.8671</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      
      <!-- Right wheel joint -->
      <joint name="${prefix}wheel_right_joint">
        <command_interface name="velocity">
          <param name="min">-0.8671</param>
          <param name="max">0.8671</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      
    </ros2_control>
  </xacro:macro>

</robot> 